<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YellowJacket</title>
    <link rel="stylesheet" type="text/css" href="templates/site.css">
    <script type="application/javascript" src="templates/main.js"></script>
</head>
<header>
        <a id="new-test" href="#" onclick="toggle_box()">Create new test</a>
        <p id="host">HOST: {{.Host}}</p>
        <button class="btn-stop" type="submit">Stop</button>
</header>
<div>

<div id="start-swarm">
    <div style="text-align: right">
    <button id="close" onclick="close_btn()">x</button>
    </div>
    <input class="wasp" type="text" placeholder="wasps" name="wasps" required>
    <input class="swarm" type="text" placeholder="hatch rate" name="swarms" required>
    <button class="btn" type="submit" onclick="attack()">Attack</button>

</div>

<nav class="navbar">
    <a href="#" class="stat" onclick="show_stats()">Stats</a>
    <a href="#" class="chart" onclick="show_charts()">Charts</a>
    <a href="#" class="failure" onclick="show_failures()">Failures</a>
    <a href="#" class="exception" onclick="show_exceptions()">Exceptions</a>
    <a href="#" class="download" onclick="show_downloads()">Downloads</a>
</nav>

<div class="stats-console" style="overflow-x:auto;">
    <table id="stats-table">
        <thead id="stats-headers">
            <tr>
                <th class="stats-header">Type</th>
                <th class="stats-header">Name</th>
                <th class="stats-header"># requests</th>
                <th class="stats-header"># fails</th>
                <th class="stats-header">Avg. Latency</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>GET</td>
                <td>/</td>
                <td id="sum-success">0</td>
                <td id="sum-fail">0</td>
                <td id="avg-latency">0</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="charts-console">
    <div><img src="templates/chart.png" alt="chart"></div>
</div>

<div class="failures-console">
        <table id="failures-table">
            <thead id="failures-headers">
                <tr>
                    <th class="failures-header"># Fails</th>
                    <th class="failures-header">Method</th>
                    <th class="failures-header">Name</th>
                    <th class="failures-header">Type</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>GET</td>
                    <td>/</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
</div>

<div class="exceptions-console">
        <table id="exceptions-table">
            <thead id="exceptions-headers">
                <tr>
                    <th class="exceptions-header"># Occurances</th>
                    <th class="exceptions-header">Traceback</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
</div>

<div class="downloads-console">
        <a href="#">Download as CSV</a>
    </div>
    

</body>
<footer>
    <h1 style="color: yellow; font-style: oblique">YellowJacket</h1>
</footer>

</html>